/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 */
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    }

.header-text {    
    width: 50%;
    height: 90vh;
    padding-top: 20vh;    
    padding-left: 15vh;
    padding-bottom: 0%;
    }
.header-text h1{
    font-size: 45px;
    font-weight:bolder;
    color: black gray;
}
.header-text h3{
    font-size: 25px;
    font-weight:lighter;
    color: rgb(56, 41, 41);
    }
header{
    width: 100%;
    height: 90vh;  
    background-image: url("imagenes/IMG_0608\ \(2\).jpg");
    background-size:cover;
    background-position: center 15%;
    background-repeat: no-repeat;
    }
#icono1, #icono2, #icono3{
    background-color: rgb(139, 183, 183,0.0);
    border: none;
}

/* .imagen{
    width:70%;
    height: 100%;
    padding-top: 0%;
    padding-right: 0vh;

    }
img{
    max-width: 100%;
    padding-top: 0%;
    } */
#barra{
    padding: 0%;
    border-left: 0;
    border-right: 0;
    border-top: 5px;
    border-bottom: 5px;
    border-style:solid;
    border-color: rgb(212,203,183);
    }
.container-fluid{
    padding: 0%;
    background-color: rgb(169,185,217);
    }
.navbar-brand{
    padding-left: 5%;
    padding-right: 5%;
    }
.navbar-nav{
    margin:auto;
	text-align:center;
    }
.navbar-brand:hover,.nav-item:hover {
    background-color: rgb(137, 164, 216);
}
main div{
    padding-top: 5%;
    }
#Perfil{
    width: 100%;
    height: 90vh;
    }
.fotoperfil{
    flex-basis: 45%;
    padding-top: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.fotoperfil img{
    width: 100%;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(212,203,183);
        
    }
.textoperfil{
    padding: 0;
    flex-basis: 45%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.textoperfil p{
    text-align: justify;
    text-indent: 5vh;
    padding-left: 4%;
    }

.lineatiempo{
    background-color: #94a8d6;
    font-family: Helvetica, sans-serif;
    }
    /* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .contenedor {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .contenedor::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12.5px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -12.5px;
  }
  
  /* The actual content */
  .contiene {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .contenedor {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .contenedor::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 18px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }

  .filterDiv {
    /* float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;     
    margin: 2px; */
    display: none;
  }
  
  .show {
    display: block;
  }
  
  /* .parafiltro {
    margin-top: 20px;
    overflow: hidden;
  } */
  
  /* Style the buttons */
  #myBtnContainer{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
  }
  .btn {
    border:solid;
    outline:solid;
    padding: 12px 16px;
    cursor: pointer;
    margin: 5px;
    background-color: #040608;
    color: #7bb7ef;
    }
/* #btn{
    background-color: #040608;
    color: #7bb7ef;
    padding: 12px 16px;
    border: 2px;
}  */
  #btn:hover, .btn.activo:hover{
    background-color: #8dbee0;
    color: white;
  }
  .btn.activo {
    border:solid;
    outline:solid;
    padding: 12px 16px;
    background-color: #1e3550;
    color: #7bb7ef;
    border-color: #7bb7ef;
    border: 2px;
  }
  
#Idiomas{
    width: 100%;
    height: 90vh;
    }
.fondoidioma{
    width: 100%;
    height: 80vh;
    background-image: url("imagenes/Ventajas-de-aprender-inglés-en-un-país-donde-la-lengua-inglesa-no-es-nativa-boyaca-estudia-en-el-exterior-colombia.jpg");
    /* -webkit-filter: grayscale(80%);
    filter: grayscale(80%); */
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(212,203,183);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 5%;
    }
.banderas{
    width: 60%;
    height: 30vh;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(212,203,183);
    background-color: rgb(169,185,217,0.75);
    margin: 0%;
    padding: 0%;
    display: flex;
    /* justify-content: center;
    align-items: top center; */
    /* -webkit-filter: grayscale(0%);
    filter: grayscale(0%); */
    backdrop-filter: blur(1px) sepia(100%);
    }
.ban_nom{
    padding: 0;
    width: 100%;
    }
.ban_nom div{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: top center;
    }
.ban_nom .ingles, .español{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    }
.ban_nom .italiano{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    }
.nom{
    width: 100%;
    height: 10vh;
    }
.ban_nom:hover{
    box-shadow: 5px 5px 5px 5px rgb(139, 183, 183,.7);
    border-radius: 15px;
    /* border-style:solid; */
    border-color: rgb(212,203,183);
   }
.ban_nom:hover p, .ban_nom:hover img{
    border-radius: 15px;
    font-size: 150%;
    font-style: italic;
    font-weight: 500;
    /* font-family: Arial, Helvetica, sans-serif; */
    transform: scale(1.2); 
    transition: transform .50s;
}

.detallenivel{
    width: 60%;
    height: 30vh;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(212,203,183);
    background-color: rgb(169,185,217,0.75);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    margin-top: 0.5%;
    padding: 0;
    backdrop-filter: blur(1px) sepia(100%) ;
}
.detallenivel p{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: justify;
    text-indent: 5vh;
    padding: 0;
    margin: 0%;
}
#Conocimientos{
    width: 100%;
    /* height: 100vh; */
}

.herramientas{
    background-image: url(imagenes/concepto-financiero-de-la-consulta-y-del-analytics-con-los-infographs-en-la-pantalla-y-paisaje-urbano-en-el-fondo-91817183.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    text-align: Center;
    display: inline-block;
    vertical-align: middle;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.gestion, .Lenguaje, .diseño, .sap{
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    align-items: center;
    justify-content: center;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: rgb(0, 0, 0,.4);
  color: #f4f1f1;
  cursor: pointer;
  padding: 20px 40px;
  width: 50%;
  border: none;
  text-align: Center;
  outline: none;
  font-size: 30px;
  border-radius: 15px;
  text-decoration: solid;
  
  
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    /* background-color: #ccc; */
    background-color: rgb(0, 0, 0,.6);
    }
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    }
.active:after {
    content: "\2212";
    }
/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
    background-color: rgb(0, 0, 0,.2);
    }
.office, .drive, .web{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.tarjeta{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
    height: 100px;
    padding: 0;
    background: var(--i);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: rgb(0, 0, 0,.4);
    border-radius: 85px 5px; */
    
}
.tarjeta:hover{
    cursor: crosshair;
    transform: scale(1.4);
    opacity: 1;
    filter: contrast(120%);
    border-radius: 0%;
    background-color:transparent;
}
.text-block:hover{
    cursor: crosshair;
    transform: scale(1);
    opacity: 1;
}
.text-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0,.6);
    color: white;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .5s;
    padding: 0;
    /* border-radius: 70px 5px; */
    border-radius: 50px;
}

  .bar {
    width: 80%;
    height: 14px;
    background-color: rgb(0, 0, 0,.4);
    border-radius: 5px;
    position: relative;
    transition: all 5s linear;
    padding: 0;
    border-color: white;
    border-style:solid;
    display: flex;
    align-items: center;
  }
  .bar-1 {
    width: 80%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bar-inner {
    width: 0;
    height: 10px;
    line-height: 10px;
    background-color: red;
    border-radius: 3px;
    background-image: linear-gradient(
    -45deg,
   rgb(255,255,255,.35) 25%,
    transparent 25%,
    transparent 50%,
    rgb(255,255,255,.35) 50%,
    rgb(255,255,255,.35) 75%,
    transparent 75%
    );
    background-size: 30px 30px;
    padding: 0;
  }

/* footer{    
    margin:auto;
	
    background-image: url(imagenes/Descarga\ de\ fondos\ para\ páginas\ web.jpg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    } */

.titulo-contacto{
    width: 100%;
    height: 10%;
    }
.container{
    padding: 0%;
    display:flex;
    min-width:fit-content;
    align-items: center;
    }
.contacto-izquierda{
    flex-basis: 40%;
    padding-top: 20vh;
    padding-left: 3%;
    }

.contacto-izquierda .descarga{
    margin:auto;
    padding-top: 10%;
    }

.contacto-derecha{
    flex-basis: 60%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    background-image: url(imagenes/Descarga\ de\ fondos\ para\ páginas\ web.jpg);
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(212,203,183);    
        
    }
.contacto-derecha form{
    width: 100%;
    }
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: rgb(169,185,217,0.95);
    padding: 10px;
    margin: 10px 0;
    color: rgb(255, 255, 255);
    lighting-color: aliceblue;
    font-size: 17px;
    border-radius: 6px;
    border: 2px;
    border-style: solid;
    border-color: rgb(212,203,183);
    }

.cv{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.5s;
    }
.cv span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }
.cv span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }
.cv:hover span {
    padding-right: 25px;
    }
.cv:hover span:after {
    opacity: 1;
    right: 0;  
    }

#boton{
    
    text-emphasis-color: white;
    background-color: rgb(137, 164, 216);
    border-radius: 6px;    
    }

    